/node_modules
.env
.phpunit.result.cache
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/adminforphp2
/.idea
/.vscode
/public/storage
/storage/*.key
/storage/temp
/vendor
/vendor.*
/hooks
medtouriran.sql
public/css
public/js
public/fonts
public/mix-manifest.json
v8-compile-cache-0
Vagrantfile