    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2019 13:37
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-parking:before { content: "\f100"; }
.flaticon-man-praying-laying-on-his-knees:before { content: "\f101"; }
.flaticon-elevator:before { content: "\f102"; }
.flaticon-weightlifting:before { content: "\f103"; }
.flaticon-conference:before { content: "\f104"; }
.flaticon-meeting-room:before { content: "\f105"; }
.flaticon-fire-alarm:before { content: "\f106"; }
.flaticon-fashion:before { content: "\f107"; }
.flaticon-prayer:before { content: "\f108"; }
.flaticon-pray:before { content: "\f109"; }
.flaticon-hair-dryer:before { content: "\f10a"; }
.flaticon-garage:before { content: "\f10b"; }
.flaticon-atm-machine:before { content: "\f10c"; }
.flaticon-coffee-cup:before { content: "\f10d"; }
.flaticon-coffee:before { content: "\f10e"; }
    
    $font-Flaticon-parking: "\f100";
    $font-Flaticon-man-praying-laying-on-his-knees: "\f101";
    $font-Flaticon-elevator: "\f102";
    $font-Flaticon-weightlifting: "\f103";
    $font-Flaticon-conference: "\f104";
    $font-Flaticon-meeting-room: "\f105";
    $font-Flaticon-fire-alarm: "\f106";
    $font-Flaticon-fashion: "\f107";
    $font-Flaticon-prayer: "\f108";
    $font-Flaticon-pray: "\f109";
    $font-Flaticon-hair-dryer: "\f10a";
    $font-Flaticon-garage: "\f10b";
    $font-Flaticon-atm-machine: "\f10c";
    $font-Flaticon-coffee-cup: "\f10d";
    $font-Flaticon-coffee: "\f10e";