p, h1,h2, h3, h3, h4, h5, h6, input, form, button, li, .paragraph-medium{
    font-family: 'rudaw', sans-serif !important;
}
.menu>li>a {
    font-size: 16px !important;
    min-width: 42px;
}
.menu>li {
    padding: 10px 2px !important;
}