p,
h1,
h2,
h3,
h3,
h4,
h5,
h6,
input,
form,
button,
li,
.paragraph-medium {
  font-family: "rudaw" !important;
  font-weight: 400 !important;
  letter-spacing: .2px !important;
}

#header-1 .menu a,
#mobile-menu--hdr .menu a {
  font-weight: 400 !important;
}

.menu > li > a {
  font-size: 15px !important;
  min-width: 42px;
  font-weight: 400 !important;
}

.menu > li {
  padding: 10px 2px !important;
}

.wa__btn_popup .wa__btn_popup_txt {
  font-family: 'rudaw', sans-serif !important;
}

.sub-ttl {
  font-family: 'rudaw', sans-serif !important;
}

.menu > li > a {
  font-family: 'rudaw', sans-serif !important;
}

.menu li li a {
  font-family: 'rudaw', sans-serif !important;
}

@media screen and (max-width: 690px) {
  #hm-slider .slider-info p {
    font-size: 14px !important;
  }

  #hm-slider .slider-info {
    position: absolute;
    top: 21%;
  }
}

@font-face {
  font-family: 'Rudaw';
  src: url(/fonts/UniQAIDAR_JWNEYD.eot?e0da5bb4d335d8e443ff9077f88ebd9d);
  src: url(/fonts/UniQAIDAR_JWNEYD.eot?e0da5bb4d335d8e443ff9077f88ebd9d) format("embedded-opentype"), url(/fonts/UniQAIDAR_JWNEYD.woff?3aebdb2241c7259827894809f997f606) format("woff"), url(/fonts/UniQAIDAR_JWNEYD.ttf?8c4e07ac68538d1da0b664102bc723ee) format("truetype"), url(//services.webchin.org/web-fonts/UniQAIDAR_JWNEYD.svg#UniQAIDAR_JWNEYD) format("svg");
  font-weight: 400 !important;
  font-style: normal;
}

