p, h1,h2, h3, h3, h4, h5, h6, input, form, button, li, .paragraph-medium{
    font-family: Nunito ,sans-serif !important;
}
#template-content{
    font-family: Nunito,sans-serif !important;
}
#hm-slider h1 {
    font-family: 'Comfortaa', cursive;
}
#hm-slider .slider-info p {
    font-family: 'Comfortaa', cursive  !important;
}