/*!* kurdish *!*/
/*@font-face {*/
/*  font-family: 'Rudaw';*/
/*  font-style: normal;*/
/*  font-weight: 400;*/
/*  !*font-display: swap;*!*/
/*  src: local('Rudaw'), local('Rudaw-Regular'), url('./rudawregular2.ttf') format('ttf');*/
/*  !*unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;*!*/
/*}*/
/*!* kurdish bold *!*/
/*@font-face {*/
/*  font-family: 'Rudaw-bold';*/
/*  font-style: normal;*/
/*  font-weight: 600;*/
/*  !*font-display: swap;*!*/
/*  src: local('Rudaw'), local('Rudaw-Bold'), url('./rudawbold.ttf') format('ttf');*/
/*  !*unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;*!*/
/*}*/
@charset "utf-8";
@font-face{font-family:uniqaidar_jwneyd;font-family:uniqaidar_jwneyd;src:url(//services.webchin.org/web-fonts/UniQAIDAR_JWNEYD.eot);src:url(//services.webchin.org/web-fonts/UniQAIDAR_JWNEYD.eot?#iefix) format("embedded-opentype"),url(//services.webchin.org/web-fonts/UniQAIDAR_JWNEYD.woff) format("woff"),url(//services.webchin.org/web-fonts/UniQAIDAR_JWNEYD.ttf) format("truetype"),url(//services.webchin.org/web-fonts/UniQAIDAR_JWNEYD.svg#UniQAIDAR_JWNEYD) format("svg");font-weight:400 !important;font-style:normal}